/* .avatar{
    right: 0;
} */
.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
}
.header-nav{

}
.search-icon{
    color: white;
    width: 32px;
    height: 66px;
}
.nofication-icon{
     color: white;
    width: 26px;
    height: 66px;
}
.arrow-icon{
    color: white;
    width: 21px;
    height: 58px;
    margin-top: 4px;
}
.header-button{
    color: white;
    margin-right: 25px;
}
.header-button-color{
    margin-left: -334px;
    margin-top: 23px;
    font-size: medium;
    
}